:root {
    --gray:  rgb(32, 32, 32);
    --green: #CCF381;
    --blue:  #4831D4;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--gray);
}

/* -----------------------------  Home Page  -------------------------------------- */

#home_page {
    height: 100vh;
}

nav {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

nav a {
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    background-color: var(--gray);
    width: 33.33%;
    padding: 2% 0 2% 0;

}

header {
    width: 100vw;
    text-align: center;
}

header h1 {
    font-size: 50px;
    text-decoration: underline solid var(--green);
    margin-bottom: -10px;
    color: var(--green);
    font-family: monospace;
    text-shadow: 2px 2px black;
    background-color: var(--blue);
    -webkit-box-shadow:0px 0px 200px 200px var(--blue);;
    -moz-box-shadow: 0px 0px 200px 200px var(--blue);;
    box-shadow: 0px 0px 200px 200px var(--blue);;
}

header h2 {
    font-size: 30px;
    color: var(--green);
    font-family: monospace;
    text-shadow: 2px 2px black;
}

#avatarBox {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
}

/* -----------------------------  Bio Page  -------------------------------------- */

#bio_page {
    height: 100vh;
    background-color: var(--blue);
}

.bioBox {
    margin: 0 2rem 0 2rem;
}

.bioBox h2 {
    color: var(--green);
    font-size: 30px;
    text-align: center;
} 

.bioBox p {
    text-align: center;
    color: white;
    font-size: 16px;
}

.bioBox ul {
    color:white;
    font-size: 16px;
}

/* -----------------------------  Projects Page  -------------------------------------- */

#project_page {
    min-height: 100vh;
    max-height: fit-content;
    background-color: var(--green);
}

#project_page h2 {
    color: var(--blue);
    font-size: 30px;
    text-align: center;
} 

#projectBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 2rem;
}

#projectBox a {
 width: 45%;
 height: 8rem;
 text-align: center;
 text-decoration: none;
 border: solid 2px var(--blue);
 margin: 1rem 0 1rem 0;
 position: relative;
}

#projectBox a:nth-child(1) {
    width: 95%;
}

#projectBox a::before {
    content: " ";
    background-image: url(./images/blueprint-detail-836253.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0px;
    opacity: .6;
}

#projectBox a:nth-child(1):before {
    background-image: url(./images/Screenshot\ 2023-03-30\ 011516.png);

}

#projectBox a h3 {
    color: var(--green);
    position: relative;
    background-color: var(--blue);
    display: inline-flex;
    padding: .5rem;
}

/* -----------------------------  Contact Page  -------------------------------------- */

#contact_page {
    height: 100vh;
    background-color: var(--blue);
}

#contact_page h2 {
    color: var(--green);
    font-size: 30px;
    text-align: center;
}

#contact_page li {
    color: var(--green);
    font-weight: 700;
    list-style: none;
    margin-top: 1rem;
}

#phone::after {
    content: "913-998-3914";
    font-weight: 400;
    text-decoration: none;
    color: white;
}

#email::after {
    
    content: "Rtm713@gmail.com";
    font-weight: 400;
    text-decoration: none;
    color: white;
}